html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

ul {
  padding: 0;
}

footer {
  background: $background-color;
}

.container {
  max-width: 20rem;
  margin: auto;
}

.top-nav {
  background: $brand-blue;
  color: $title-white;
  overflow: auto;
}

.main-content {
  flex-grow: 1;
  background: $background-color;
  color: $regular-text;
}

.content__title {
  margin: 0;
  padding-top: 1rem;
  color: $title-white;
}
