.run-info {
  display: flex;
  justify-content: space-between;
}

.run-time {
  color: $green-text;
}

.fa-chevron-left {
  padding: 1rem;
  border-radius: 50%;
  background: $green-text;
  color: $background-color;
}

.fa-pencil {
  padding: 1rem;
  border-radius: 50%;
  background: $green-text;
  color: $title-white;
}
