.run-info {
  display: flex;
  justify-content: space-between;
}

.run-time {
  color: $button-green;
}

.fa-chevron-left {
  padding: 24px;
  border-radius: 50%;
  background: $button-grey;
  color: $background-color;
}

.fa-pencil {
  padding: 24px;
  border-radius: 50%;
  background: $green-text;
  color: $title-white;
}
