{{outlet}}
<div class="app">
  <header>
    <div class="top-nav">
      <div class="container">
        <div class="top-nav__content">
          <h2 class="top-nav__title">Run Timer</h2>
        </div>
      </div>
    </div>
  </header>
  <div class="main-content">
    <div class="container">
      <ul class="list">
        <li class="list-item">
          <p class="item-date">Text</p>
          <p class="item-time">12:34:56</p>
        </li>
      </ul>
    </div>
  </div>
  <footer>
    <nav class="footer__nav">
      <div class="container">
        <div class="footer__content">
          {{fa-icon "plus"}}
        </div>
      </div>
    </nav>
  </footer>
</div>
