<div class="app">
  <header>
    <div class="top-nav">
      <div class="container">
        <div class="top-nav__content">
          <h2 class="top-nav__title">Run Timer</h2>
        </div>
      </div>
    </div>
  </header>
  <div class="main-content">
    <div class="container">
      <h1 class="content__title">My Run</h1>
      <form class="content-details">
        <ul class="details-list">

          <li class="details-item">
            {{input pattern="{{999}}:{{99}:{{99}}}" placeholder="Run Time"}}
          </li>

          <li class="details-item">
            {{input pattern="{{99}}/{{99}/{{2999}}}" placeholder="Race Date"}}
          </li>

          <li class="details-item">
            {{input  placeholder="Race Notes"}}
          </li>

        </ul>
      </form>
    </div>
  </div>
  <footer>
    <nav class="footer__nav">
      <div class="container">
        <div class="new-footer__content">
          <button class="cancel-button">CANCEL</button>
          {{!-- {{#link-to "new"}} --}}
          <button class="save-button">SAVE</button>
          {{!-- {{/link-to}} --}}
        </div>
      </div>
    </nav>
  </footer>
</div>
{{outlet}}
