<div class="app">
  <header>
    <div class="top-nav">
      <div class="container">
        <div class="top-nav__content">
          <h2 class="top-nav__title">Run Timer</h2>
        </div>
      </div>
    </div>
  </header>
  <div class="main-content">
    <div class="container">
      <h1 class="content__title">My Run</h1>
      <div class="run-info">
        <p class="run-date">Jan. 1, 2015</p>
        <p class="run-time">01:23:45</p>
      </div>
      <div class="run-description__container">
        <p class="run-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui,
         harum, hic. Quos alias iure perferendis repellat cum excepturi voluptatum veniam vel
         molestiae dolorum, quaerat, dolor error neque odit rerum. Voluptate?</p>
      </div>
    </div>
  </div>
  <footer>
    <nav class="footer__nav">
      <div class="container">
        <div class="new-footer__content">
          {{fa-icon "chevron-left"}}
          {{!-- {{#link-to "new"}} --}}
          {{fa-icon "pencil"}}
          {{!-- {{/link-to}} --}}
        </div>
      </div>
    </nav>
  </footer>
</div>
{{outlet}}
