<div class="app">
  <header>
    <div class="top-nav">
      <div class="container">
        <div class="top-nav__content">
          <h2 class="top-nav__title">Run Timer</h2>
        </div>
      </div>
    </div>
  </header>
  <div class="main_content">
    <div class="container">
      <h1 class="content__title"></h1>
    </div>
  </div>
</div>
{{outlet}}
